<!--The content below is only a placeholder and can be replaced.-->
<div class = "root">
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>

  <!-- <h3> -->
    <!-- <input type="text" [value]="first_name" /> -->
    <!-- <ul>
      <li *ngFor="let s of snacks" (click)="onSelect(s)">{{s}}</li>
    </ul> -->
  <!-- </h3> -->

  <p style="color: goldenrod">Data Selected: {{ adjArr | json }}</p>
  
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th></th>
        <th (click)="onItemNoClick()">Item No</th>
        <th (click)="onDescClick()">Description</th>
        <th (click)="onSterlingClick()">Sterling</th> 
        <th (click)="onEuroClick()">Euro</th> 
        <th (click)="onOtherClick()">Other Currencies</th> 
      </tr>
    </thead>

    <tbody>
        <!-- <router-outlet></router-outlet> -->
        <tr *ngFor="let el of jData" >     
          <td *ngIf="isString(el)" (click)="onRow(el)"> <button>^_^</button></td>     
          <td *ngIf="isString(el)" (click)="onSelect(el[0])">{{el[0]}}</td>
          <td *ngIf="isString(el)" (click)="onSelect(el[2].text)" style="text-align:left">{{el[2].text}}</td>
          <td *ngIf="isString(el)" (click)="onSelect(el[5].id)">{{el[5].id}}</td>
          <td *ngIf="isString(el)" (click)="onSelect(el[6].id)">{{el[6].id}}</td>
          <td *ngIf="isString(el)" (click)="onSelect(el[7])">{{el[7]}}</td>
        </tr>
    </tbody>
  </table>

    <!-- <p>JSON DATA: {{jData}}</p> -->
</div>



<form style="border: 5px solid lightgreen; padding: 10px" (submit)="onTest()">
  <p>Upper Pocket: {{ zylPocket.upperOne | json }}</p>
  <input type="text" name="zylPocket.upperOne" [(ngModel)]="zylPocket.upperOne" />

  <p>Lower Pocket: {{ zylPocket.lowerOne | json }}</p>
  <input type="text" name="zylPocket.lowerOne" [(ngModel)]="zylPocket.lowerOne" />
  
  <br><br>
  <input type="submit" value="Enter Pocket Data" />
</form>

<!-- <div style="border: 5px solid skyblue; padding: 10px; margin-top: 20px">
  <button (click)="onButtonClick()" >Click me!</button>
  <br>
  <button (click)="onButtonClickParam(5)">Click me 5!</button>
  <br>
  <button (click)="onButtonClickParams(5, 'hello')">Click me 5 & hello!</button>
  <br>
  <button (click)="onButtonClickEvent($event)">Click me with $event!</button>
</div> -->

<div style="border: 5px solid lightcoral; padding: 10px; margin-top: 20px">
  <input type='file' (change)="fileChanged($event)">
</div>

<br>
<br>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

  <router-outlet></router-outlet>
</div>




